.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li{class: page == :commits_by_date ? "active" : ""}
      %a{href: 'commits_by_date.html'}= :commits_by_date.t
    %li{class: page == :commits_by_day ? "active" : ""}
      %a{href: 'commits_by_day.html'}= :commits_by_day.t
    %li{class: page == :changed_lines_by_date ? "active" : ""}
      %a{href: 'changed_lines_by_date.html'}= :changed_lines_by_date.t
    %li{class: page == :changed_lines_by_day ? "active" : ""}
      %a{href: 'changed_lines_by_day.html'}= :changed_lines_by_day.t
    %li{class: page == :modified_by_day ? "active" : ""}
      %a{href: 'modified_by_day.html'}= :modified_by_day.t

  .tab-content
    .tab-pane.active
      .page-header
        %h1.pagination-centered= page.t

      -if page == :commits_by_date
        = high_stock("charts.commits_sum_by_author_by_date", charts.commits_sum_by_author_by_date([author, author]))
        %small
          %center= "#{:commits_by_date.t}"

      -if page == :commits_by_day
        = high_stock("charts.commits_sum_by_author_by_day", charts.commits_sum_by_author_by_day([author]))
        %small
          %center= "#{:commits_by_day.t}"

      -elsif page == :changed_lines_by_date
        = high_stock("charts.changed_lines_by_author_by_date", charts.changed_lines_by_author_by_date([author]))
        %small
          %center= "#{:changed_lines_by_date.t}"
      
      -elsif page == :changed_lines_by_day
        = high_stock("charts.changed_lines_by_author_by_day", charts.changed_lines_by_author_by_day([author]))
        %small
          %center= "#{:changed_lines_by_day.t}"

      -elsif page == :modified_by_day
        = high_stock("charts.modified_by_author_by_day", charts.modified_by_author_by_day(author))
        %small
          %center= "#{:modified_by_day.t}"